
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot My Password</title>
    <style>
        body {
            background-color: grey;
        }

        div {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h1 {
            font-family: 'Times New Roman', Times, serif;
            font-size: 32px;
        }

        .btn {
            padding: 20px;
            margin: 0 5px;
            min-height: 20px;
            min-width: 20px;
            color: white;
            background-color: darkgreen;
            border-radius: 20px;
            font-size: 18px;
        }

            .btn:hover {
                color: #c3c3c3;
                background-color: rgba(53, 141, 53, 0.815);
                box-shadow: 0 0 5px 5px rgba(53, 141, 53, 0.815);
            }
    </style>
</head>
<body>
    <div>
        <h1>Will Be Developed</h1>
    </div>
    <div>
        <a class="btn" href="/Users/Login">Login</a>
        <a class="btn" href="/Users/Register">Register</a>
    </div>
</body>
</html>
