<div class="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Product Management &amp; Improvement Crew!</h4>
                <h6>WE MANAGE NORTHWIND PRODUCTS</h6>
                <div class="border-button"><a href="#portfolio">Discover More</a></div>
            </div>
        </div>
    </div>
</div>